package $packageName;

import java.time.LocalDate;
import java.util.List;
import com.nika.annotations.framework.event.LazyServiceActivated;

public class Lazy${serviceName} extends $serviceName {
    public $serviceName encapsulatedService;

    private $serviceName callService() {
        if (encapsulatedService == null) {
            this.encapsulatedService = new ${serviceName}();
            new LazyServiceActivated(encapsulatedService).publish();
            return this.encapsulatedService;
        }
        else {
            return encapsulatedService;
        }
    }

    $overridenMethods
}
